

.major-information{
    display: flex;
    padding: 20px 50px;
    width: 100%;
    align-items: center;
}
.name-information{
    font-size: 30px;
    font-weight: bold;
}
.status-information{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.status-item{
    padding: 10px;
    background-color: #800;
    border-radius: 20px;
    color: #fff;
    margin-right: 20px;
    font-size: 24px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.received-status{
    margin-left: 5px;
}


.detailed-information{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.information-item{
    width: 100%;
    box-shadow: 1px 1px 3px #000;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}
.request-info{
    flex: 1;
    display: flex;
}

.desenho-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    flex: 1;
}   

.pedido-item-info{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
}
.desenho-name-display{
    display: flex;
    align-items: flex-end;
    padding: 10px;
    justify-content: center;
    width: 100%;
}
.desenho-name{
    font-size: 20px;
    font-weight: bold;
    flex: 1;
}
.desenho-info-item{
    display: flex;
    opacity: .8;
    font-weight: 100;
    font-size: 14px;
    padding: 5px;
    justify-content: space-between;
}
.desenho-info-item-price{
    font-size: 16px;
    font-weight: bold;
}

.tamanho{
    font-size: 24px;
}
.status-item.finish{
    opacity: .5;
    background-color: #000;
    cursor: no-drop;    
}
.information-total{
    font-size: 24px;
    padding: 20px;
    text-align: end;
    width: 100%;
}

/**/
.batata{
    background-color: #800;
    padding: 20px;
    width: 150px;
    z-index: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}
.done{
    background-color: #080;
    padding: 20px;
    width: 150px;
    z-index: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}